<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List Render</title>
</head>
<body>
  <!-- 在v-for块中，拥有对父作用域属性的完全访问权限 -->
  <!-- v-for支持一个可选的第二个参数作为当前项的索引 -->
  <!-- 可以使用of替代in作为分隔符 -->
  <ul id="vfor">
    <li v-for="(item, idx) in items">
      {{idx}} : {{item.message}}
    </li>
    <li v-for="(item, idx) of items">
      {{idx}} : {{item.message}}
    </li>
  </ul>

  <!-- 可以使用v-for通过一个对象的属性来迭代 -->
  <!-- 可以提供第二个的参数为键名 -->
  <!-- 遍历对象时是按照Object.keys()的结果遍历，但不能保证在不同javascript引擎下的结果是一致的 -->
  <ul id="vfor_object">
    <li v-for="(value, key) in object">
      {{key}} : {{value}}
    </li>
  </ul>

  <!-- 一段取值范围的v-for -->
  <!-- v-for也可以取整数。在这种情况下，它将重复多次模板。 -->
  <div id="for_num">
    <span v-for="n in 10">{{n}}</span>
  </div>

  <!-- 可以使用带有v-for的template元素渲染多个元素 -->
  <ul id="temp">
    <template v-for="item in items">
      <li>{{item.msg}}</li>
      <li class="divider"></li>
    </template>
  </ul>

  <article>
    <h1>v-for与v-if</h1>
    <p>当这两个指令处于同一个节点时，v-for的优先级比v-if更高，这意味着v-if将分别重复运行于每个v-for循环中。</p>
    <pre>
      <code>
        <li v-for="todo in todos" v-if="!todo.isComplete">
          {{todo}}
        </li>
      </code>
    </pre>
    <p>上面的代码只会渲染未完成的todos</p>
    <p>如果目的是有条件地跳过循环的执行，那么可以将v-if置于外层元素或者template元素上。</p>
    <pre>
      <code>
        <ul v-if="todos.length">
          <li v-for="todo in todos">
            {{todo}}
          </li>
        </ul>
      </code>
    </pre>
  </article>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    var forVM = new Vue({
      el: '#vfor',
      data () {
        return {
          items: [
            {message: 'Foo'},
            {message: 'Bar'}
          ]
        }
      }
    })
  </script>
  <script>
    var forObjVM = new Vue({
      el: '#vfor_object',
      data () {
        return {
          object: {
            firstname: 'John',
            lastname: 'Doe',
            age: 30
          }
        }
      }
    })
  </script>
  <script>
    var forNumVM = new Vue({
      el: '#for_num'
    })
  </script>
  <script>
    var tempVM = new Vue({
      el: '#temp',
      data () {
        return {
          items: [
            {msg: 'msg1'},
            {msg: 'msg2'}
          ]
        }
      }
    })
  </script>
</body>
</html>